@model IEnumerable<BancoHorasWeb.Models.Funcionario>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Empresa.CNPJ)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Situacao.Nome)
        </th>   
        <th>
            @Html.DisplayNameFor(model => model.Nome)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Admissao)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Demissao)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Empresa.CNPJ)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Situacao.Nome)
        </td>       
        <td>
            @Html.DisplayFor(modelItem => item.Nome)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Admissao)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Demissao)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.FuncionarioId }) |
            @Html.ActionLink("Details", "Details", new { id=item.FuncionarioId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.FuncionarioId })
        </td>
    </tr>
}

</table>
